body {
    font-family: Arial, sans-serif;
    background-color: #f3ece8;
}

.navbar {
    background-color: #bd9a72;
    border-bottom: 2px solid #c58c69;
}

.navbar-brand {
    font-weight: bold;
    color: #8f4415;
}

.nav-link {
    color: #6c757d;
    font-weight: 500;
}

.nav-link:hover {
    color: #8f4415;
}

.top-buttons a {
    margin: 5px;
    color: #8f4415;
    border: 1px solid #8f4415;
    border-radius: 20px;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: 500;
}

.top-buttons a:hover {
    background-color: #8f4415;
    color: white;
}

footer {
    background-color: #f8f9fa;
    border-top: 2px solid #8f4415;
    color: #6c757d;
    padding: 10px 0;
    text-align: center;
    margin-top: 20px;
}

.carousel-inner img {
    height: 400px;
    object-fit: cover;
}

#slide1, #slide2 {
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.card-title {
    color: #8f4415;
    font-weight: bold;
}
